body {
  margin: 100%;
  background-image: radial-gradient(#380b20, #160b19, #160b19);
}
h1 {
  color: #ffffff;
}



.download {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
